.btn {
  display: block;
  padding: 31px 48px;
  margin-top: 100px;
  margin-left: 465px;
  margin-right: 478px;
  background-color: $color-red;
  font-family: inherit;
  color: $text-color;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 42px;
  line-height: 57px;
  border: none;


  @media (max-width: $df-mobile) {
    margin-top: 100px;
  }
}

.btn-order {
  margin-left: 10px;
  line-height: 34px;
}
