.btn {
  padding: 31px 48px;
  background-color: $color-red;
  font-family: inherit;
  color: $text-color;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  font-size: 42px;
  line-height: 57px;
}
