.contacts {
padding-top: 220px;
}

.contacts-inner {
  padding: 0;
  margin: 0 auto;
}

.contacts-title {
margin: 0px;
font-family: $font-open;
font-weight: normal;
font-size: 64px;
line-height: 87px;
text-align: center;
color: $color-dark;

  @media (max-width: $df-tablet) {
    font-size: 60px;
    line-height: 82px;
}

  @media (max-width: $df-mobile) {
    font-size: 36px;
    line-height: 49px;
}
}

.contacts-tabs {
  display: flex;
  justify-content: center;
  margin-top: 77px;
  list-style: none;
}

.contacts-tab {
  margin: 0 50px;
}

.contacts-tab-link {
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;
  color: $color-dark;

  &.active {
    color: $color-red;
  }
}

.contacts-content {
  display: none;

  &.active {
    display: flex;
  }
}

.contacts-info {
  flex-basis: 33.33%;
  margin-left: 8.33%;
}

.contacts-map {
  flex-basis: 58.33%;
}
