.footer-inner {
  padding: 31px 82px;
  background-color:$color-dark;
}

.footer-wrap {
  display: flex;
  align-items: center;
}

.logo {
  font-family: $font-open;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $text-color;
  text-decoration: none;
  list-style: none;
  margin-right: auto;
}

.phone {
  font-family: $font-open;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  text-decoration: none;
  color: $text-color;
  text-align: center;
}


