
.form {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 130px;
  margin-left: 82px;
  margin-right: 82px;


  .field-half {
    flex-basis: 33.33%;
}

label {
  display: inline-block;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 27px;
}

input {
  height: 104px;
  width: 412px;
  border: none;
  border-radius: 6px;
  margin-right: 20px;
  padding: 35px 30px;
  font-size: 28px;
  line-height: 34px;
}
}


