.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: $color-dark;

  @media (max-width: $df-mobile) {
    padding: 16px 0;
  }

}

.header-inner {
  padding: 0px 82px;
  background-color: $color-dark;
}

.header-wrap {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 18px;
}

.logo {
  font-family: $font-open;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $text-color;
  text-decoration: none;
  list-style: none;
  border: none;

  @media (max-width: $df-tablet) {
    padding: 10px 0;
    font-size: 36px;
    line-height: 49px;
  }


  @media (max-width: $df-mobile) {
    padding: 16px 0;
    font-size: 28px;
    line-height: 38px;
  }
}

.burger {
  display: none;

  @media (max-width: $df-tablet) {
    position: relative;
    display: block;
    width: 34px;
    height: 35px;
    margin-left: 35px;
    padding: 0;
    border: none;
    font-size: 0;
    border-top: 3px solid $text-color;
    border-bottom: 3px solid $text-color;
    background-color: rgba(0, 0, 0, 0);
    transition: all .3s;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      margin: auto;
      background-color: $text-color;
      transition: all .3s;
    }

    &.open {
      border-color: rgba(0, 0, 0, 0);
    }

    &.open:before {
      transform: rotate(-45deg);
    }

    &.open:after {
      transform: rotate(45deg);
    }
  }

  }

