.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: $color-dark;
}

.header-inner {
  padding: 0px 82px;
  background-color: $color-dark;

  @media (max-width: $df-tablet) {
    width: auto;
    padding-left: 10px;
  }

  @media (max-width: $df-mobile) {
    width: auto;
    padding-left: 16px;
  }
}

.header-wrap {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 18px;
}

.logo {
  font-family: $font-open;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $text-color;
  text-decoration: none;
  list-style: none;
  border: none;

}
