.info-inner {
  margin: 0 auto;
  width: 1024;
  background: url(/butterfly-shop-krutova/images/info.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.info-wrap {
  display: flex;
  align-items: center;
}

.info-content {
  padding: 235px 82px 418px;
}

.info-title {
  font-family: $font-open;
  padding-top: 200px;
  padding-left: 82px;
  padding-right: 82px;
  margin-left: 82px;
  margin-right: 82px;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;

  @media (max-width: $df-tablet) {
    font-size: 54px;
    line-height: 74px;
    text-align: center;
  }

  @media (max-width: $df-mobile) {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
  }
}

