.main-nav {
  display: flex;
  margin-left: auto;


  ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

  }

  li {
    font-family: $font-open;
    margin-left: 60px;
    padding: 33px 25px;
    text-decoration: none;
    &:first-child {
      margin-left: 0;
      background-color: $color-red;
    }
  }
  a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    font-family: $font-open;
    color: $text-color;

  }
}


