.order {
  background-color: rgba($color-dark, .1);
}

.order-inner {
  margin: 0 auto;
}

.order-title {
  font-family: $font-open;
  font-style: normal;
  font-weight: normal;
  padding-top: 130px;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.order-subtitle {
  padding-bottom: 125px;
  padding-top: 37px;
  margin-left: 82px;
  margin-right: 82px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
}
