.portfolio {
  padding: 220px 0;
  text-align: center;
}



.portfolio-title {
  margin-bottom: 77px;
  font-family: $font-open;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;

  @media (max-width: $df-tablet) {
    font-size: 60px;
    line-height: 82px;
  }

    @media (max-width: $df-mobile) {
      font-size: 36px;
      line-height: 49px;
  }
}

.filter {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 40px;
  list-style: none;
}

.filter-item {
  margin: 0 25px;
}

.filter-link {
  color: $color-dark;
  font-weight: 600px;
  font-size: 22px;
  line-height: 24px;
  text-decoration: none;

    &.active {
    color: $color-red;
  }
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 82px 120px;
}

.portfolio-item {
  flex-basis: 25%;
  padding: 10px;
}

.portfolio-item-wrap {
  position: relative;
  padding-top: 100%;
}

.portfolio-item-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.portfolio-item-pic {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.portfolio-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px 48px;
  width: 100%;
  font-family: $font-open;
  color: $text-color;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  background-color:rgba(0, 0, 0, .4);
}
