.products-inner {
  padding: 130px 506px;
  background-color: #fff;
}

 h2 {
  margin: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  font-weight: 87px;
  text-align: center;
}

.products-photos {
  display: flex;
  padding: 97px 82px 120px 82px;
  justify-content: space-around;
}

