.products {
  padding: 130px 82px;
  text-align: center;
  background-color: rgba($color-dark, .01);
}


h2 {
  font-family: $font-open;
  margin: auto;
  padding-bottom: 97px;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  font-weight: 87px;
  text-align: center;
}


.products-photos-wrap {

  display: flex;
  list-style: none;
  justify-content: space-between;
  padding-bottom: 97px;
}


.products-item-bg {
  position: relative;
  flex-basis: 25%;
  height: 304px;
  background-repeat: no-repeat;
}

.products-desc {
  position: absolute;
  left: 0;
  bottom: 0;
  border-right: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  text-align: center;
  color: #fff;
  background-color: rgba($color-dark, .5);
}






