.reviews {
  padding: 220px 0 130px 0;
  background-color: $text-color;
}

.reviews-inner {
  margin: 0 auto;
}

.reviews-title {
  font-family: $font-open;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 77px;
  margin-left: 298px;
  margin-right: 298px;
}

.reviews-item {
  flex-basis: 100%;
  margin-bottom: 164px;
}
