$h1-fz-mobile: 20px;
$h1-fz-tablet: 32px;
$h1-fz-desktop: 48px;
$h1-fw: 400;

// Colors
$color-dark: #333333;
$color-red: #FF2D2D;
$text-color: #FFFFFF;

// Font-family

$font-open: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;

// / Breakpoints

$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

$df-tablet: $desktop - 1;
$df-mobile: $tablet - 1;
